<style>
header {
  display:none;
}
</style>
<div id="wrap">
  <ul class="bxslider">

    <li>
      <div class="content visual flex-right">
        <div class="content-box back-orange">
          <h1 class="site-title">CAFFE<br>SPACE</h1>
          <p>カフェの空きを探すサイトです</p>
        </div>
      </div>
    </li>

    <li>
      <section class="content slide-1">
        <div class="left">
          <div class="main-view flex-center back-orange">
            <section class="content-box back-yellow">
              <h2 class="section-title">ABOUT</h2>
              <p>
                カフェはいつも混雑しています。<br>
                勉強したくても、場所がとれません。<br>
                その悲しみに終止符を。
              </p>
            </section>
          </div>
          <div class="pragraf flex-center back-yellow">
            <p>
              渋谷駅近辺の作業ができるカフェを管理しています。<br>
              ユーザー同士で混み具合の情報を共有することもできます。<br>
              きれいなカフェで、快適な時間をお過ごしください。
            </p>
          </div>
        </div>
        <div class="right">
            <%= image_tag 'workstation-336369_1920.jpg', class: 'img-container' %>
            <div class="back-blue button-box flex-center">
              <div class="back-orange button">
                LOCK MORE CAFFES!!
              </div>
            </div>
        </div>
      </section>
    </li>

    <li>
      <section class="content slide-2">
        <div class="top flex-center">
          <div class="content-box">
            <h2 class="section-title">STUDY</h2>
            <p>
              このサービスを通して勉強会の企画ができます
            </p>
          </div>
        </div>
        <div class="bottom flex-center icons">
          <div class="icon-box flex-center">
            <img src="" alt="" />
            <p>sample</p>
          </div>
          <div class="icon-box icon-box-center flex-center">
            <img src="" alt="" />
            <p>sample</p>
          </div>
          <div class="icon-box flex-center">
            <img src="" alt="" />
            <p>sample</p>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section class="content slide-3">
        <div class="left flex-center">
          <%= image_tag 'cup-661972_1920.png', class: 'cafe'%>
        </div>
        <div class="right flex-left back-orange">
          <div class="content-box">
            <h2 class="section-title">CAFFE</h2>
            <p>
              カフェの情報を管理しています。<br>
              混み具合、席数、予算などです。<br>
              お役立てください。
            </p>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section class="content slide-4">
        <div class="bg-filter flex-right">
          <div class="">
            <div class="content-box">
              <h2 class="section-title">LET'S JOIN</h2>
              <p>便利さを体感してください</p>
              <div class="button back-orange">
                <%= link_to "SIGN UP NOW!!", new_user_session_path, class: "button-text" %>
              </div>
            </div>

          </div>
          <div class="bach1"></div>
        </div>
      </section>
    </li>
  </ul>
</div>

<div class="second-wrapper">
  <div class="circle-loader">
      <div class="circle circle_four"></div>
      <div class="circle circle_three"></div>
      <div class="circle circle_two"></div>
      <div class="circle circle_one"></div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(function(){

  $('.second-wrapper, .circle-loader').css('display','flex');
});

$(window).load(function () { //全ての読み込みが完了したら実行
  $('.second-wrapper').delay(900).fadeOut(800);
  $('.circle-loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});

//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',10000);
});

function stopload(){
  $('#wrap').css('display','block');
  $('.second-wrapper').delay(900).fadeOut(800);
  $('.circle-loader').delay(600).fadeOut(300);
}
</script>

<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      mode: 'vertical',
      hideControlOnEnd: false,
      controls: false,
      autoControls: true,
    });
  });
</script>
