<style>
header {
  display:none;
}
</style>
<div id="wrap">
  <ul class="bxslider">

    <li>
      <div class="visual"></div>
    </li>

    <li>
      <section class="content slide-1">
        <div class="left">
          <div class="main-view"></div>
          <div class="pragraf"></div>
        </div>
        <div class="right">
            <%= image_tag 'workstation-336369_1920.jpg', class: 'img-container' %>
        </div>
      </section>
    </li>

    <li>
      <section class="content slide-2">
        <div class="top"></div>
        <div class="line"></div>
        <div class="bottom"></div>
      </section>
    <li>

    <li>
      <section class="content slide-3">
        <div class="left">
          <%= image_tag 'cup-661972_1920.png', class: 'cafe'%>
        </div>
        <div class="right"></div>
      </section>
    </li>

    <li>
      <section class="content slide-4">
        <div class="bg-filter">
          <div class="bach1"></div>
        </div>
      </section>
    </li>

  </ul>
</div>

<div class="second-wrapper">
  <div class="circle-loader">
      <div class="circle circle_four"></div>
      <div class="circle circle_three"></div>
      <div class="circle circle_two"></div>
      <div class="circle circle_one"></div>
  </div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(function(){

  $('#wrap').css('display','none');
  $('.second-wrapper, .circle-loader').css('display','flex');
});

$(window).load(function () { //全ての読み込みが完了したら実行
  $('.second-wrapper').delay(900).fadeOut(800);
  $('.circle-loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});

//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',10000);
});

function stopload(){
  $('#wrap').css('display','block');
  $('.second-wrapper').delay(900).fadeOut(800);
  $('.circle-loader').delay(600).fadeOut(300);
}
</script>

<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      mode: 'vertical',
      hideControlOnEnd: false,
      controls: false,
      autoControls: true,
    });
  });
</script>
